---
- name: Remove yq package
  ansible.builtin.apt:
    name: yq
    state: absent
  become: true
  environment:
    - DEBIAN_FRONTEND: noninteractive

- name: Add yq to tools if not present
  ansible.builtin.lineinfile:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
    regex: ^(yq)\s+([0-9\.]+)$
    line: \g<1> {{ yq_version | default('latest') }}
    backrefs: true
    create: true
  become: true
  notify: "markfaine.net.handlers : asdf-install"
