---
- name: Restart message
  ansible.builtin.debug:
    msg: 'You should exit all WSL shells, run wsl.exe --shutdown, and then restart it'

- name: Restart network manager
  ansible.builtin.systemd_service:
    name: NetworkManager
    state: started
    daemon_reload: true
  become: true

- name: Start wsl-vpnkit
  ansible.builtin.systemd_service:
    name: wsl-vpnkit.service
    enabled: true
    state: started
    daemon_reload: true
  notify: restart-msg
