---
- name: Validate required variables
  ansible.builtin.assert:
    that:
      - users | length > 0
    fail_msg: "'users' list must be provided"
  tags: user, validation

- name: Process users
  ansible.builtin.include_tasks: process_user.yml
  loop: '{{ users }}'
  loop_control:
    loop_var: user
  tags: user
