---
- name: Get the uid for the user
  ansible.builtin.getent:
    database: passwd
    key: "{{ user_name }}"
  become: true

- name: Add user group
  ansible.builtin.group:
    name: "{{ user_name }}"
    state: present
    gid: "{{ user_gid }}"
  become: true

- name: Add the user
  ansible.builtin.user:
    name: "{{ user_name }}"
    comment: "{{ user_comment | default('Default User') }}"
    uid: "{{ uid | default(user_uid|default(1000)) }}"
    shell: "{{ user_shell | default('/bin/bash') }}"
    group: "{{ user_group | default(user_name) }}"
    groups: "{{ user_groups | default('sudo') }}"
    password: "{{ user_password | default(lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) | password_hash('sha512', inventory_hostname)) }}"
    append: true
    update_password: "always"
    state: present
  become: true

# This is only needed in the case that no authorized keys are imported
- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.ssh"
    owner: "{{ user_name }}"
    group: "{{ user_group | default(user_name) }}"
    mode: '0700'
  become: true

- name: Set authorized keys taken from gitlab
  ansible.posix.authorized_key:
    user: "{{ user_name }}"
    state: present
    key: "https://gitlab.enms.ndc.nasa.gov/{{ user_name }}.keys"
    validate_certs: false
  ignore_errors: true

- name: Configure sudo
  ansible.builtin.copy:
    content: |
      {{ user_name }} ALL=(ALL) NOPASSWD: ALL
      Defaults:{{ user_name }} !requiretty
    dest: "/etc/sudoers.d/{{ user_name }}"
    owner: root
    group: root
    mode: '0640'
  become: true

- name: Stat dotfiles
  ansible.builtin.stat:
    path: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles" 
  register: dotfiles_dir

- name: Clone dotfiles
  ansible.builtin.git:
    repo: "{{ stow_dotfiles_repo }}"
    dest: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles"
    accept_newhostkey: true
    single_branch: yes
    depth: 1
  become: true
  become_user: "{{ user_name }}"
  when: dotfiles_dir.stat.exists is defined and not dotfiles_dir.stat.exists

- name: Install CA Certificates
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/local/share/ca-certificates/{{ item | basename }}"
    owner: root
    group: root
    mode: '0644'
  become: true
  loop: "{{ lookup('ansible.builtin.fileglob', user_homedir | default('/home/' + user_name) + '/dotfiles/ca/*.crt', wantlist=True) }}"
  when: is_wsl is defined and is_wsl
  notify: update-ca
  become: true
