---
- name: Get the uid for the user
  ansible.builtin.getent:
    database: passwd
    key: "{{ user_name }}"
    fail_key: false
  become: true
 
- name: Set uid
  ansible.builtin.set_fact:
    uid: "{{ ansible_facts.getent_passwd[user_name][1] | default(1001) }}"
  when: ansible_facts.getent_passwd is defined and ansible_facts.getent_passwd | length

- name: Set gid
  ansible.builtin.set_fact:
    gid: "{{ ansible_facts.getent_passwd[user_name][2] | default(1001) }}"
  when: ansible_facts.getent_passwd is defined and ansible_facts.getent_passwd | length

- name: Ensure install user group exists
  ansible.builtin.group:
    name: "{{ user_name }}"
    state: present
    gid: "{{ gid | default(user_group_id|default(1001))  }}"
  become: true

- name: Add the user
  ansible.builtin.user:
    name: "{{ user_name }}"
    comment: "{{ user_comment | default('Default User') }}"
    uid: "{{ uid | default(user_uid|default(1001)) }}"
    shell: "{{ user_shell | default('/bin/bash') }}"
    group: "{{ user_group | default(user_name) }}"
    groups: "{{ user_groups | default('sudo') }}"
    password: "{{ user_password | default(lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) | password_hash('sha512', inventory_hostname)) }}"
    append: true
    update_password: "always"
    state: present
  become: true

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.ssh"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_group | default(user_name) }}"
    mode: '0700'
  become: true

- name: Set authorized keys taken from gitlab
  ansible.posix.authorized_key:
    user: "{{ user_name }}"
    state: present
    key: "https://github.com/{{ github_username }}.keys"
    validate_certs: false
  ignore_errors: true

- name: Create SSH key
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ user_homedir | default('/home/' + user_name) }}/.ssh/{{ item | basename }}"
    owner: "{{ user_name }}"
    group: "{{ user_group | default(user_name) }}"
    mode: '0600'
  become: true
  loop: "{{ user_ssh_keys | default([]) }}"

- name: Configure sudo
  ansible.builtin.copy:
    content: |
      {{ user_name }} ALL=(ALL) NOPASSWD: ALL
      Defaults:{{ user_name }} !requiretty
    dest: "/etc/sudoers.d/{{ user_name }}"
    owner: root
    group: root
    mode: '0640'
  become: true

# This will fail if there is no SSH key
- name: Clone dotfiles
  ansible.builtin.git:
    repo: "{{ stow_dotfiles_repo }}"
    dest: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles"
    accept_newhostkey: true
    key_file: "{{ user_homedir | default('/home/' + user_name) }}/.ssh/id_rsa"
  become: true
  become_user: "{{ user_name }}"

- name: Copy CA Certificates
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/local/share/ca-certificates/{{ item | basename }}"
    owner: root
    group: root
    mode: '0644'
  become: true
  loop: "{{ lookup('ansible.builtin.fileglob', user_homedir | default('/home/' + user_name) + '/dotfiles/ca/*.crt', wantlist=True) }}"

- name: Update CA Certificates
  ansible.builtin.command: update-ca-certificates
  changed_when: false
  become: true
