---
- name: Update apt cache and install required packages
  ansible.builtin.apt:
    name: '{{ apt_packages }}'
    update_cache: true
    cache_valid_time: 3600
  become: true
  environment:
    DEBIAN_FRONTEND: noninteractive
  tags:
    - install

- name: Remove OS provided packages
  ansible.builtin.apt:
    name: '{{ apt_packages_uninstall }}'
    state: absent
  become: true
  environment:
    DEBIAN_FRONTEND: noninteractive
  tags:
    - uninstall
