---
- name: Find dotfiles for home directory
  ansible.builtin.find:
    paths: "{{ target_home_path }}/projects/dotfiles-experimental/home"
    patterns: '.*'
    file_type: file
    hidden: true
    recurse: false
  register: home_dotfiles

- name: Debug
  ansible.builtin.debug:
    var: home_dotfiles.files

- name: Find matching dotfiles in home directory
  ansible.builtin.find:
    paths: "{{ target_home_path }}"
    patterns: "{{ home_dotfiles.files | map(attribute='path') | map('basename') | list | flatten }}"
    file_type: file
    hidden: true
    recurse: false
  register: home_matching_dotfiles

- name: Debug
  ansible.builtin.debug:
    var: home_matching_dotfiles.files

- meta: end_play

- name: Backup Bash Config Files
  ansible.builtin.copy:
    src: '{{ item.path }}'
    dest: "{{ item.path | split('-') | first }}-{{ ansible_date_time.iso8601_basic_short\
      \ }}"
    remote_src: true
  become: true
  become_user: '{{ target_username }}'
  loop: '{{ home_dotfiles.files | default([]) }}'


- name: Find zsh config links
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + target_username) }}"
    patterns: .zsh*,.zim*
    file_type: link
    hidden: true
    recurse: false
  register: zsh_config_links

- name: Delete zsh config files and links
  ansible.builtin.file:
    path: '{{ item.path }}'
    state: absent
  become: true
  become_user: '{{ target_username }}'
  loop: '{{ zsh_config_files.files | default([]) + zsh_config_links.files | default([]) }}'

  # Zim
- name: Find zim config files
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + target_username) }}/.zim"
    patterns: init.zsh
    file_type: file
    hidden: true
    recurse: false
  register: zim_config_files

- name: Backup zim config files
  ansible.builtin.copy:
    src: '{{ item.path }}'
    dest: "{{ item.path | split('-') | first }}-{{ ansible_date_time.iso8601_basic_short\
      \ }}"
    remote_src: true
  become: true
  become_user: '{{ target_username }}'
  loop: '{{ zim_config_files.files | default([]) }}'

- name: Find zim config links
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + target_username) }}/.zim"
    patterns: init.zsh
    file_type: link
    hidden: true
    recurse: false
  register: zim_config_links

- name: Delete zim config files and links
  ansible.builtin.file:
    path: '{{ item.path }}'
    state: absent
  become: true
  become_user: '{{ target_username }}'
  loop: '{{ zim_config_files.files | default([]) + zim_config_links.files | default([]) }}'

- name: Stow apply zsh config files
  ansible.builtin.command: stow . --target "{{ user_homedir | default('/home/' + target_username) }}"
  args:
    chdir: "{{ user_homedir | default('/home/' + target_username) }}/dotfiles/zsh"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'
  become: true
  become_user: '{{ target_username }}'

  # Zim
- name: Stow apply zim config files
  ansible.builtin.command: stow . --target "{{ user_homedir | default('/home/' + target_username) }}/.zim"
  args:
    chdir: "{{ user_homedir | default('/home/' + target_username) }}/dotfiles/zim"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'
  become: true
  become_user: '{{ target_username }}'
