---
- name: Get service state
  ansible.builtin.service_facts:
  listen: docker-start

- name: Enable docker
  ansible.builtin.service:
    name: docker
    enabled: true
  listen: docker-start
  become: true

- name: Disable docker
  ansible.builtin.service:
    name: docker
    enabled: false
  become: true

- name: Start docker service
  ansible.builtin.service:
    name: docker
    state: started
  listen: docker-start
  become: true

- name: Stop docker
  ansible.builtin.service:
    name: docker
    state: stopped
  become: true

- name: Reload docker
  ansible.builtin.service:
    name: docker
    state: reloaded
  become: true

- name: Restart docker
  ansible.builtin.service:
    name: docker
    state: restarted
  listen: docker-start
  become: true

- name: docker-start
  ansible.builtin.command: /bin/true
  changed_when: false
  tags: skip_ansible_lint

- name: Restart nftables
  ansible.builtin.service:
    name: nftables
    state: restarted
  become: true

- name: Reload systemd daemon
  ansible.builtin.command: systemctl daemon-reload
  changed_when: false
  become: true
  tags: skip_ansible_lint
