---
- name: Remove node
  ansible.builtin.command: asdf plugin remove python
  changed_when: false
  become: true
  tags: skip_ansible_lint

- name: Delete the python virtual environments in the home directory
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.venvs"
    state: absent
  become: true

- name: Delete .pip directory
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.pip"
    state: absent
  become: true
