---
- name: Remove .asdf directory
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.asdf"
    state: absent
  become: true

- name: Delete the asdf binary
  ansible.builtin.file:
    path: "/usr/local/bin/asdf"
    state: absent
  become: true
