---
- name: Create .asdf directory
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.asdf"
    state: directory
  become: true
  become_user: "{{ user_name }}"

- name: Get URL for latest release
  ansible.builtin.shell: >
    wget -q -O - "{{ asdf_repo }}" |
    jq -r '.assets[] | select(.name | index("{{ asdf_arch }}"))
    | select(.name | index("md5") | not).browser_download_url'
  changed_when: false
  register: asdf_latest
  tags: skip_ansible_lint

- name: Ensure /usr/local/bin exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    owner: root
    group: root
    mode: "0755"
  become: true

- name: Install asdf
  ansible.builtin.unarchive:
    src: "{{ asdf_latest.stdout }}"
    dest: /usr/local/bin
    owner: root
    group: root
    mode: "0755"
    remote_src: true
    creates: "{{ asdf_path }}"
  become: true
  tags: skip_ansible_lint

- name: Find asdf config files in dotfiles/asdf
  ansible.builtin.find:
    path: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/asdf/"
    file_type: file
    use_regex: true
    hidden: true
  register: asdf_dotfiles

- name: Manage dotfiles
  block:
    - name: Find asdf config files
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}"
        patterns: .asdf*,.tool-version*
        file_type: file
        hidden: true
        recurse: false
      register: asdf_config_files

    - name: Backup asdf config files
      ansible.builtin.copy:
        src: "{{ item.path }}"
        dest: >
          "{{ item.path | split('-') | first }}-{{ ansible_date_time.iso8601_basic_short }}"
        remote_src: true
      become: true
      become_user: "{{ user_name }}"
      loop: "{{ asdf_config_files.files | default([]) }}"

    - name: Delete asdf config files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      become: true
      become_user: "{{ user_name }}"
      loop: "{{ asdf_config_files.files | default([]) }}"

    - name: Stow apply asdf config files
      ansible.builtin.command: >
        stow . --target "{{ user_homedir | default('/home/' + user_name) }}"
      args:
        chdir: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/asdf"
      register: result
      changed_when: 'result.stderr is search("LINK: ")'
      become: true
      become_user: "{{ user_name }}"

  become: true
  when: asdf_dotfiles.files is defined and asdf_dotfiles.files | length
  notify: "markfaine.net.handlers : asdf-install"
