---
# The deb package doesn't seem to work for me 
# So for now I will use the shell installer
#

# # Note: in the dotfiles '~/.local/bin' must be in the path
# # or zoxide will not work
- name: Install zoxide
  ansible.builtin.shell: |
    set -o pipefail
    curl -sSfL "{{ zoxide_install_url }}" | sh
  become: true
  become_user: {{ user }}
