---
- name: Remove zoxide package
  ansible.builtin.apt:
    name: zoxide
    state: absent
  become: true
  environment:
    - DEBIAN_FRONTEND: noninteractive

- name: Add zoxide to tools if not present
  ansible.builtin.lineinfile:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
    regex: ^(zoxide)\s+([0-9\.]+)$
    line: \g<1> {{ zoxide_version | default('latest') }}
    backrefs: true
    create: true
  become: true
  notify: "markfaine.net.handlers : asdf-install"
