---
- name: Create zim_home directory
  ansible.builtin.file:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.zim"
    state: absent
  become: true
  become_user: "{{ user_name }}"

- name: Find zsh config links
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + user_name) }}"
    patterns: '.zsh*,.zim*'
    file_type: link
    hidden: true
    recurse: false
  register: zsh_config_links

- name: Delete dotfiles
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  become: true
  become_user: "{{ user_name }}"
  loop: "{{ zsh_config_files.files | default([]) }}"

- name: Change the shell to bash
  ansible.builtin.user:
    name: "{{ user_name }}"
    shell: /usr/bin/bash
  become: true
