---
- name: Install system dependencies for mise
  ansible.builtin.apt:
    name: ['gpg', 'sudo', 'wget', 'curl']
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags: install

- name: Set users list for mise
  ansible.builtin.set_fact:
    mise_users: '{{ mise_users | default([]) }}'
  tags: mise

- name: Install mise for users
  ansible.builtin.include_tasks: install_mise.yml
  loop: "{{ mise_users | selectattr('mise', 'equalto', true) | list }}"
  loop_control:
    loop_var: user_item
  tags: mise
