---
- name: Install system dependencies for doppler
  ansible.builtin.apt:
    name: ['apt-transport-https', 'ca-certificates', 'curl', 'gnupg']
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags: install

- name: Set users list for doppler
  ansible.builtin.set_fact:
    doppler_users: '{{ doppler_users | default([]) }}'
  tags: doppler

- name: Install doppler for users
  ansible.builtin.include_tasks: install_doppler.yml
  loop: "{{ doppler_users | selectattr('doppler', 'equalto', true) | list }}"
  loop_control:
    loop_var: user_item
  tags: doppler
