---
- name: Remove packer
  ansible.builtin.command: asdf plugin remove packer
  changed_when: false
  become: true
  tags: skip_ansible_lint

- name: Remove terraform
  ansible.builtin.command: asdf plugin remove terraform
  changed_when: false
  become: true
  tags: skip_ansible_lint
