---

- name: Get hashicorp keyring
  ansible.builtin.shell: 
    set -o pipefail
    wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
  become: true

- name: Configure apt
  ansible.builtin.shell: 
    set -o pipefail
    echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list
  become: true

- name: Install packages 
  ansible.builtin.apt:
    name: "{{ apt_packages }}"
    update_cache: true
  become: true
  environment:
    - DEBIAN_FRONTEND: noninteractive
