---
- name: Stat hashicorp keyring
  ansible.builtin.stat:
    path: /usr/share/keyrings/hashicorp-archive-keyring.gpg
  register: hashicorp_keyring
  become: true

- name: Get hashicorp keyring
  ansible.builtin.shell: 
    set -o pipefail
    sh -c 'wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg'
  args:
    executable: /bin/sh
  become: true
  when: hashicorp_keyring.stat.exists is defined and not hashicorp_keyring.stat.exists

- name: Stat hashicorp keyring
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/hashicorp.list
  register: hashicorp_list
  become: true

- name: Configure apt
  ansible.builtin.shell: 
    set -o pipefail
    sh -c 'echo \"deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main\" | tee /etc/apt/sources.list.d/hashicorp.list'
  args:
    executable: /bin/sh
  become: true
  when: hashicorp_list.stat.exists is defined and not hashicorp_list.stat.exists

- name: Install packages 
  ansible.builtin.apt:
    name: "{{ apt_packages }}"
    update_cache: true
  become: true
  environment:
    - DEBIAN_FRONTEND: noninteractive
