---
- name: Remove fzf package
  ansible.builtin.apt:
    name: fzf
    state: absent
  become: true
  environment:
    - DEBIAN_FRONTEND: noninteractive

- name: Add fzf to tools if not present
  ansible.builtin.lineinfile:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
    regex: ^(fzf)\s+([0-9\.]+)$
    line: \g<1> {{ fzf_version | default('latest') }}
    backrefs: true
    create: true
  become: true
  notify: "markfaine.net.handlers : asdf-install"
