#jinja2: lstrip_blocks: True, trim_blocks: True
# ## {{ ansible_managed }}
[Unit]
Description=wsl-vpnkit
After=network.target

[Service]
# for wsl-vpnkit setup as a standalone script
ExecStart="{{ user_homedir | default('/home/' + user_name) }}/vpnkit/wsl-vpnkit"
Environment=VMEXEC_PATH="{{ user_homedir | default('/home/' + user_name) }}/vpnkit/wsl-vm" GVPROXY_PATH="{{ user_homedir | default('/home/' + user_name) }}/vpnkit/wsl-gvproxy.exe"

Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
