---
- name: Download nvm installer script 
  ansible.builtin.shell: | 
    wget -q "{{ nvm_install_url }}/$(wget -q -O - {{ nvm_api_url }} | jq -r '.name')/{{ nvm_install_file }}"
  args:
    chdir: /tmp
    creates: "/tmp/{{ nvm_install_file }}"
  become: true
  become_user: "{{ user_name }}"
  tags: skip_ansible_lint

- name: Execute nvm installer script 
  ansible.builtin.command: bash "/tmp/{{ nvm_install_file }}"
  environment:
    - PROFILE: '/dev/null'
  args:
  changed_when: false
  become: true
  become_user: "{{ user_name }}"
  tags: skip_ansible_lint
 
- name: Install Node 
  ansible.builtin.shell: > 
    . "{{ user_homedir | default('/home/' + user_name) }}/.nvm/nvm.sh"
    && nvm install "{{ node_version }}" 
  changed_when: false
  become: true
  become_user: "{{ user_name }}"
  tags: skip_ansible_lint

- name: Install node modules
  ansible.builtin.shell: >
    . "{{ user_homedir | default('/home/' + user_name) }}/.nvm/nvm.sh"
    && npm install -g "{{ item }}" 
  changed_when: false
  become: true
  become_user: "{{ user_name }}"
  loop: "{{ node_modules }}"
  tags: skip_ansible_lint

- name: Find files in dotfiles/node
  ansible.builtin.find:
    path: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/node/"
    user_regex: true
    hidden: true
  register: node_dotfiles

- name: Manage dotfiles
  block:
    - name: Find node config files in home directory
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}"
        patterns: '.npm*,.node*'
        file_type: any
        hidden: true
        recurse: false
      register: node_config_files
    
    - name: Backup node Config Files
      ansible.builtin.copy:
        src: "{{ item.path }}"
        dest: "{{ item.path | split('-') | first }}-{{ ansible_date_time.iso8601_basic_short }}"
        remote_src: true
      become_user: "{{ user_name }}"
      loop: "{{ node_config_files.files | default([]) }}"
    
    - name: Find node config links
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}"
        patterns: '.npm*,.node*'
        hidden: true
        file_type: link
        recurse: false
      register: node_config_links
    
    - name: Delete Bash Config Files and Links
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      become_user: "{{ user_name }}"
      loop: "{{ node_config_files.files | default([]) + node_config_links.files | default([]) }}"
    
    - name: Stow apply node config files
      ansible.builtin.command: stow . --target "{{ user_homedir | default('/home/' + user_name) }}"
      args:
        chdir: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/node"
      register: result
      changed_when: 'result.stderr is search("LINK: ")'
      become_user: "{{ user_name }}"
      tags: skip_ansible_lint
  become: true
  when: node_dotfiles.files is defined and node_dotfiles.files | length
