---
- name: Find files in dotfiles/node
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/node/"
    use_regex: true
    hidden: true
  become: true
  become_user: '{{ user_name }}'
  register: node_dotfiles

- name: Manage dotfiles
  block:
    - name: Find node config files in home directory
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}"
        patterns: .node*
        file_type: any
        hidden: true
        recurse: false
      register: node_config_files

    - name: Backup node Config Files
      ansible.builtin.copy:
        src: '{{ item.path }}'
        dest: >
          "{{ item.path  | split('-')  | first }}-{{
            ansible_date_time.iso8601_basic_short
          }}"
        remote_src: true
      become_user: '{{ user_name }}'
      loop: '{{ node_config_files.files | default([]) }}'

    - name: Find node config links
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}"
        patterns: .node*
        hidden: true
        file_type: link
        recurse: false
      register: node_config_links

    - name: Delete dotfiles
      ansible.builtin.file:
        path: '{{ item.path }}'
        state: absent
      become_user: '{{ user_name }}'
      loop: '{{ node_config_files.files | default([]) }}'

    - name: Stow apply node config files
      ansible.builtin.command: >
        stow . --target "{{ user_homedir | default('/home/' + user_name) }}"
      args:
        chdir: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/node"
      register: result
      changed_when: 'result.stderr is search("LINK: ")'
      become_user: '{{ user_name }}'
      tags: skip_ansible_lint
  become: true
  when: node_dotfiles.files is defined and node_dotfiles.files | length

- name: Add node to tools if not present
  ansible.builtin.lineinfile:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
    regex: ^(nodejs)\s+([0-9\.]+)$
    line: \g<1> {{ node_version | default('latest') }}
    backrefs: true
    create: true
  become: true
  notify: "markfaine.net.handlers : asdf-install"
