---
- name: Install wsl.conf from template
  ansible.builtin.copy:
    content: |
      [user]
      default={{ wsl_user | default(username) }}
    dest: /etc/wsl.conf
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: restart-msg

- name: Install .wslconfig from template
  ansible.builtin.file:
    path: "/mnt/c/Users/{{ username }}/.wslconfig"
    state: absent
  notify: restart-msg
