---
- name: Install wsl.conf from template
  ansible.builtin.template:
    src: wsl.conf.j2
    dest: /etc/wsl.conf
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: restart-msg

- name: Install .wslconfig from template
  ansible.builtin.template:
    src: wslconfig.j2
    dest: "/mnt/c/Users/{{ username }}/.wslconfig"
  notify: restart-msg

# This part needs testing/verification, since it might have changed since I originally wrote this.
# Get latest version URL
# - name: Get URL for latest release
#   ansible.builtin.shell: |
#     set -o pipefail
#     wget -q -O - "{{ wsl_vpnkit_api_url }}" | jq -r '.assets[] \
#     | select(.name=="wsl-vpnkit.tar.gz").browser_download_url'
#   args:
#     executable: /usr/bin/bash
#   changed_when: false
#   register: wsl_vpnkit_latest
#   tags: skip_ansible_lint
# 
# - name: Download wsl-vpnkit
#   ansible.builtin.get_url:
#     src: "{{ wsl_vpnkit_latest.stdout }}"
#     dest: "/mnt/c/Users/{{ username }}/{{ wsl_vpnkit_latest.stdout | urlsplit('path') | basename }}"
#     owner: "{{ username }}"
#     group: "{{ username }}"
#     mode: '0644'
#   become: true
#   become_user: "{{ username }}"
# 
# - name: Check for existing distro
#   ansible.builtin.command: wsl.exe --list
#   register: wsl_distro_list
#   become: true
#   become_user: "{{ username }}"
# 
# - name: Import wsl-vpnkit distro
#   ansible.builtin.command: >
#     powershell.exe -Command "& 'wsl.exe' '--import' 'wsl-vpnkit'
#     '--version' '2' 'C:\Users\{{ username }}\wsl-vpnkit' 'C:\Users\{{ username }}\wsl-vpnkit.tar.gz'"
#   become: true
#   become_user: "{{ username }}"
#   when: wsl_distro_list.stdout is defined and 'wsl-vpnkit' not in wsl_distro_list.stdout
# 
# - name: Install wsl-vpnkit.service from template
#   ansible.builtin.template:
#     src: wsl-vpnkit.service.j2
#     dest: /etc/systemd/system/wsl-vpnkit.service
#     owner: root
#     group: root
#     mode: '0644'
#   become: true
#   notify:
#    - restart-msg
#    - start-wsl-vpnkit
