---
- name: Stat tool-versions
  ansible.builtin.stat:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
  register: tool_versions_file
  listen: asdf-install

- name: Slurp tool-versions
  ansible.builtin.slurp:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
  register: tools_versions_content
  become: true
  become_user: '{{ user_name }}'
  when: tool_versions_file.stat.exists is defined and tools_version_file.stat.exists
  listen: asdf-install

- name: Plugin installation
  ansible.builtin.command: asdf plugin add "{{ item.split(' ') | first }}"
  become: true
  become_user: '{{ user_name }}'
  loop: (tools_versions_content['content'] | b64decode).stdout_lines
  when: tools_versions_content.stat.exists is defined and tools_versions_content.stat.exists
  listen: asdf-install

- name: asdf-install
  ansible.builtin.command: asdf install
  become: true
  tags: skip_ansible_lint
