---
- name: Install packages
  hosts: all
  gather_facts: false
  tasks:

    - ansible.builtin.include_role:
        name: net.markfaine.apt
      tags: 
        - apt
        - packages

    - ansible.builtin.include_role:
        name: net.markfaine.mise
      tags: 
        - mise
        - packages
 
