---
- name: Site playbook
  hosts: all
  gather_facts: false

# Set permissions on /root/uv to the user
# This is a workaround for an Ansible issue
# When run as root an unprivileged user can not access cached files
# - name: Set permissions on /root/uv recursively
#   ansible.builtin.file:
#     path: "/root/.cache/uv"
#     owner: root
#     group: root
#     mode: 'u+rwX,g+rX,o+rX'
#     recurse: true
#   become: true
#   loop:
#     - "/root/.ansible"
#     - "/root/.cache/uv"
 
# This role installs required OS packages
# and also installs mise package manager
- name: Import packages playbook
  ansible.builtin.import_playbook: packages.yml
  tags: 
    - apt
    - packages
 
# Create and/or update the user
- name: Import user playbook
  ansible.builtin.import_playbook: user.yml
  tags: user
  when: run_user_role is not defined or run_user_role

# Will only run on WSL  
- name: Import wsl playbook
  ansible.builtin.import_playbook: wsl.yml
  tags: wsl

# Install doppler
- name: Import doppler playbook
  ansible.builtin.import_playbook: doppler.yml
  tags: doppler

# Install nerdfonts
- name: Import fonts playbook
  ansible.builtin.import_playbook: fonts.yml
  tags: fonts
  when: fonts is defined and fonts | length

# Install docker, needed for most developer work
- name: Import docker playbook
  ansible.builtin.import_playbook: docker.yml
  tags: docker
  when: run_docker_role is defined and run_docker_role
