---
- name: Development Environment Configuration 
  hosts: localhost
  tasks:
    - ansible.builtin.include_role:
        name: net.markfaine.base
      tags: 
        - base
        - always 

    - ansible.builtin.include_role:
        name: net.markfaine.user
      tags: user

    - ansible.builtin.include_role:
        name: net.markfaine.wsl
      when: wsl_enabled is defined and wsl_enabled
      tags: wsl

    - ansible.builtin.include_role:
        name: net.markfaine.bash
      tags: bash

    - ansible.builtin.include_role:
        name: net.markfaine.node
      tags: node

    - ansible.builtin.include_role:
        name: net.markfaine.yq
      tags: yq

    - ansible.builtin.include_role:
        name: net.markfaine.fzf
      tags: fzf

    - ansible.builtin.include_role:
        name: net.markfaine.zoxide
      tags: zoxide

    - ansible.builtin.include_role:
        name: net.markfaine.asdf
      tags: asdf

    - ansible.builtin.include_role:
        name: net.markfaine.python
      tags: python

    - ansible.builtin.include_role:
        name: net.markfaine.git
      tags: git

    - ansible.builtin.include_role:
        name: net.markfaine.nvim
      tags: nvim

    - ansible.builtin.include_role:
        name: net.markfaine.zsh
      tags: zsh

    - ansible.builtin.include_role:
        name: net.markfaine.docker
      tags: docker

    - ansible.builtin.include_role:
        name: net.markfaine.fonts
      tags: fonts
