---
- name: Site playbook
  hosts: all
  gather_facts: false

- name: Import packages playbook
  ansible.builtin.import_playbook: packages.yml
  tags: 
    - apt
    - packages
 
- name: Import user playbook
  ansible.builtin.import_playbook: user.yml
  tags: user
 
- name: Import mise playbook
  ansible.builtin.import_playbook: mise.yml
  tags: 
    - mise
    - packages
  
- name: Import wsl playbook
  ansible.builtin.import_playbook: wsl.yml
  tags: wsl
 
- name: Import fonts playbook
  ansible.builtin.import_playbook: fonts.yml
  tags: fonts
 
- name: Import docker playbook
  ansible.builtin.import_playbook: docker.yml
  tags: docker
