---
- name: Site playbook
  hosts: all
  gather_facts: false

# This role installs required OS packages
# and also installs mise package manager
- name: Import packages playbook
  ansible.builtin.import_playbook: packages.yml
  tags: 
    - apt
    - packages
 
# Create and/or update the user
- name: Import user playbook
  ansible.builtin.import_playbook: user.yml
  tags: user
  when: run_user_role is not defined or run_user_role

# Will only run on WSL  
- name: Import wsl playbook
  ansible.builtin.import_playbook: wsl.yml
  tags: wsl

# Install nerdfonts
- name: Import fonts playbook
  ansible.builtin.import_playbook: fonts.yml
  tags: fonts
  when: fonts is defined and fonts | length

# Install docker, needed for most developer work
- name: Import docker playbook
  ansible.builtin.import_playbook: docker.yml
  tags: docker
  when: run_docker_role is defined and run_docker_role
