---
- name: Site playbook
  hosts: all
  gather_facts: false
  tasks:

    - name: Import packages playbook
      ansible.builtin.include_playbook
        name: packages.yml
      tags: 
        - apt
        - packages

   - name: Import user playbook
      ansible.builtin.include_role:
        name: user.yml
      tags: user

   - name: Import mise playbook
      ansible.builtin.include_playbook
        name: mise.yml
      tags: 
        - mise
        - packages
 
   - name: Import wsl playbook
     ansible.builtin.include_role:
       name: wsl.yml
     tags: wsl

   - name: Import fonts playbook
     ansible.builtin.include_role:
       name: fonts.yml
     tags: fonts

   - name: Import docker playbook
     ansible.builtin.include_role:
       name: docker.yml
     tags: docker
