---
- name: Site playbook
  hosts: all
  gather_facts: false
  tasks:

    - name: Import packages playbook
      ansible.builtin.import_playbook: packages.yml
      tags: 
        - apt
        - packages

   - name: Import user playbook
      ansible.builtin.import_role: user.yml
      tags: user

   - name: Import mise playbook
      ansible.builtin.import_playbook: mise.yml
      tags: 
        - mise
        - packages
 
   - name: Import wsl playbook
     ansible.builtin.import_role: wsl.yml
     tags: wsl

   - name: Import fonts playbook
     ansible.builtin.import_role: fonts.yml
     tags: fonts

   - name: Import docker playbook
     ansible.builtin.import_role: docker.yml
     tags: docker
