---
- name: Find files in dotfiles/neovim
  ansible.builtin.find:
    paths: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/neovim/"
    use_regex: true
    hidden: true
  become: true
  become_user: '{{ user_name }}'
  register: neovim_dotfiles

- name: Manage dotfiles
  block:
    - name: Find neovim config files in home directory
      ansible.builtin.find:
        paths: "{{ user_homedir | default('/home/' + user_name) }}/.config"
        patterns: nvim
        file_type: file
        recurse: false
      register: neovim_config_files

    - name: Backup neovim Config Files
      ansible.builtin.copy:
        src: '{{ item.path }}'
        dest: >
          "{{ item.path  | split('-')  | first }}-{{
            ansible_date_time.iso8601_basic_short
          }}"
        remote_src: true
      become_user: '{{ user_name }}'
      loop: '{{ neovim_config_files.files | default([]) }}'

    - name: Stow apply neovim config files
      ansible.builtin.command: >
        stow . --target "{{ user_homedir | default('/home/' + user_name) }}/.config"
      args:
        chdir: "{{ user_homedir | default('/home/' + user_name) }}/dotfiles/neovim"
      changed_when: 'result.stderr is search("LINK: ")'
      become_user: '{{ user_name }}'
      tags: skip_ansible_lint
  become: true

- name: Add neovim to tools if not present
  ansible.builtin.lineinfile:
    path: "{{ user_homedir | default('/home/' + user_name) }}/.tool-versions"
    regex: ^(neovimjs)\s+([0-9\.]+)$
    line: \g<1> {{ neovim_version | default('latest') }}
    backrefs: true
    create: true
  become: true
  notify: "markfaine.net.handlers : asdf-install"
