---
- name: Include task for state
  ansible.builtin.include_tasks:
    file: "{{ state | default('present') }}.yml"
    apply:
      tags: zoxide
  when:
    - ansible_os_family is defined and ansible_os_family == "Debian"
    - state is not defined or state in ['present', 'absent']
    - user_font_list is defined and user_font_list | length
  tags: always

